# Dependencias
node_modules/

# Variables de entorno con contraseñas y llaves de bases de datos
.env


# Archivos de registro/errores
*.log
npm-debug.log*

# Carpetas del sistema operativo
.DS_Store
Thumbs.db
uploads/